/* This file contains CSS exclusive to home.jsx file */
.HomeHeading {
  color: #8a1708;
  font-family: "adelia";
  font-size: 35px;
  text-align: center;
  margin: auto;
  width: 30%;
  padding-bottom: 10px;
}

.HomeText {
  color: black;
  font-family: "Baskervville";
  font-size: 25px;
  text-align: justify;
  margin: auto;
  width: 60%;
  padding-top: 30px;
  padding-bottom: 100px;
  line-height: 25pt;
}
.NoticeText {
  color: black;
  font-family: "Baskervville";
  font-size: 25px;
  text-align: center;
  margin: auto;
  width: 60%;

  padding-bottom: 40px;
  line-height: 25pt;
}

.HomeSubtext {
  color: black;
  font-family: "Baskervville";
  font-size: 20px;
  text-align: center;
  margin: auto;
  width: 60%;
  padding-bottom: 0px;
}

.pdflogo {
  display: flex;
  margin: auto;
  height: 100px;
}

@media screen and (max-width: 1000px) {
  .HomeText {
    text-align: center;
    font-size: 15px;
  }
  .HomeHeading {
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
  }
  .pdflogo {
    height: 80px;
  }
  .HomeSubtext {
    font-size: 15px;
  }
  .NoticeText {
    font-size: 15px;
  }
}
